<div class='container py-5'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <div class="description-scroll col-3 px-3">  
          <%= image_tag @user.get_user_image, size:'200x200' %>
        </div>
        <div class="description-scroll col-6 px-3">  
          <h2><%= @user.name %></h2>
          
          <h5 class="p-3"><%= link_to @user.followings.count, followings_user_path(@user) %> フォロー</h5>
          <h5 class="px-3"><%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</h5>
          <% if @user == current_user %>
            <p class="description-scroll p-3">
              メールアドレス：<%= @user.email %>
            </p>
          <% end %>
        </div>
        <div class="p-3">
          <%= link_to "削除する", admin_user_path, method: :delete, class: "btn btn-danger", data: {confirm:"ユーザーを削除してもいいですか？"} %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>