<div class='container py-2'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        ログイン中のユーザー：<%= link_to @user.name, user_path(@user) %>
      </div>
      <%= image_tag @user.get_user_image, size:'100x100' %>

      <div class="search-form mt-5 p-4 bg-light rounded shadow-sm">
        <h5 class="mb-3"><i class="fas fa-search"></i> ユーザーを探す</h5>
        <%= search_form_for @q, url: users_path, class: "input-group" do |f| %>
          <%# name_cont: 名前が「含む(contains)」検索 %>
          <%= f.search_field :name_cont, class: "form-control", placeholder: "ユーザー名を入力して検索" %>
          <div class="input-group-append">
            <%= f.submit "検索", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>