<div class='container py-5'>
  <div class='row justify-content-center'>
    <div class='col-md-10 col-lg-8'>
      <div class='row'>
        <div class="description-scroll col-4 px-3">  
          <%= image_tag @user.get_user_image, size:'200x200' %>
        </div>
        <div class="description-scroll col-8 mt-1">  
          <h2><%= @user.name %></h2>
            <% if @user == current_user %>
              <%= link_to "編集する", edit_user_path, class: "btn btn-success" %>
            <% elsif current_user.following?(@user) %>
                <%= link_to "フォロー外す", user_relationship_path(@user),
                method: :delete, class: "btn btn-primary" %>   
              <% else %>
                <%= link_to "フォローする", user_relationship_path(@user),
                method: :post, class: "btn btn-primary" %>
            <% end %>
          <h5 class="pt-3"><%= link_to @user.followings.count, followings_user_path(@user) %>フォロー</h5>
          <h5><%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</h5>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center my-4 border-bottom pb-2">
        <h4 class="mb-0">
          <i class="fas fa-list-ul"></i> 投稿したレビュー
        </h4>
      </div>
      <div class="card mb-3 shadow-sm hover-card">
        <div class="card-body">
          <% @user.reviews.each do |review| %>
            <div class="px-3 py-2">
              <div class="d-flex justify-content-between">
                <h5>
                  <%= link_to review.title, item_review_path(@user, review) %><br>
                  <%= render "public/shared/star", review: review %>
                </h5>
                <small class="text-muted"><%= review.created_at.strftime('%Y/%m/%d') %></small>
              </div>
              <strong><i class="fa-box-open text-primary"></i><%= review.item.title %></strong><br>
              <div class="mb-2">
                <i class="fas fa-tags text-primary"></i>
                <% review.tag_list.each do |tag| %>
                  <span class="badge badge-info"><%= tag %></span>
                <% end %>
              </div>
              <p class="card-text text-secondary mb-0">
                <%= truncate(review.body, length: 100) %>
              </p>
              <% if review.body.length > 100 %>
                <div class="text-right mt-1">
                  <%= link_to "詳細を見る", item_review_path(@item, review), class: "small" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>