<div class='container py-5'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <div class="description-scroll col-3 px-3">  
          <%= image_tag @user.get_user_image, size:'200x200' %>
        </div>
        <div class="description-scroll col-6 px-3">  
          <h2><%= @user.name %></h2>
          
          <h5 class="p-3"><%= link_to @user.followings.count, followings_user_path(@user) %> フォロー</h5>
          <h5 class="px-3"><%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</h5>
          <% if @user == current_user %>
            <p class="description-scroll p-3">
              メールアドレス：<%= @user.email %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="p-3">
        <% if @user == current_user %>
          <%= link_to "編集する", edit_user_path, class: "btn btn-success" %>
        <% elsif current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationship_path(@user),
            method: :delete, class: "btn btn-primary" %>   
          <% else %>
            <%= link_to "フォローする", user_relationship_path(@user),
            method: :post, class: "btn btn-primary" %>
        <% end %>
      </div>
      <h4 class='my-5'>投稿したレビュー</h4>
      <table class='table table-hover my-5'>
        <tbody>
          <% @user.reviews.each do |review| %>
            <tr>
              <td>
                <div class="px-3 py-2">
                  <h5>
                    <%= link_to review.title, item_review_path(@user, review) %><br>
                    <%= render "public/shared/star", review: review %>
                  </h5>
                  <strong><%= review.item.title %></strong><br>
                  <div class="mb-2">
                    <i class="fas fa-tags text-primary"></i>
                    <% review.tag_list.each do |tag| %>
                      <span class="badge badge-info"><%= tag %></span>
                    <% end %>
                  </div>
                  <p class="mt-2 mb-0">
                    内容：<%= review.body %>
                  </p>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>