<div class='container py-5'>
  <div class='row'>
      <div class='col-md-12'>
        <div class='row'>
          <div class="description-scroll col-6 px-3">  
            <h2><%= @item.title %></h2>
            <%= image_tag @item.get_item_image, size:'200x130' %>
            <p class="description-scroll p-3">
              <%= @item.body %>
            </p>
          </div>
        </div>
        <div class="p-3">
          <h4>
            <%= link_to "レビュー投稿画面へ", new_item_review_path(@item) %>
          </h4>
        </div>
        <div class="p-3">
          <h4>【レビュー一覧】</h4>
        </div>
        <table class='my-5'>
          <% @item.reviews.each do |review| %>
            <div class="px-3">
              <h5>
                <%= link_to review.title, item_review_path(@item, review) %><br>
                投稿者：<%= link_to review.user.name, user_path(@item, review) %>
              </h5>
              <div class="row px-3">
                <%= image_tag review.user.get_user_image, size:'100x100' %>
                <p class="px-3"><%= review.body %></p>
              </div>
            </div>
          <% end %>
        </table>
      </div>
    </div>
  </div>
